Messenger/ClientCrudServiceClient/Service References/WcfServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientCRUDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Business" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientCRUDService_CreateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClient" />
  </wsdl:message>
  <wsdl:message name="IClientCRUDService_CreateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientCRUDService_UpdateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="IClientCRUDService_UpdateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientCRUDService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IClientCRUDService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientCRUDService_DeleteClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClient" />
  </wsdl:message>
  <wsdl:message name="IClientCRUDService_DeleteClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientCRUDService">
    <wsdl:operation name="CreateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientCRUDService/CreateClient" message="tns:IClientCRUDService_CreateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientCRUDService/CreateClientResponse" message="tns:IClientCRUDService_CreateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientCRUDService/UpdateClient" message="tns:IClientCRUDService_UpdateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientCRUDService/UpdateClientResponse" message="tns:IClientCRUDService_UpdateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientCRUDService/GetClients" message="tns:IClientCRUDService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientCRUDService/GetClientsResponse" message="tns:IClientCRUDService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientCRUDService/DeleteClient" message="tns:IClientCRUDService_DeleteClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientCRUDService/DeleteClientResponse" message="tns:IClientCRUDService_DeleteClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientCRUDService" type="tns:IClientCRUDService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateClient">
      <soap:operation soapAction="http://tempuri.org/IClientCRUDService/CreateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/IClientCRUDService/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IClientCRUDService/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap:operation soapAction="http://tempuri.org/IClientCRUDService/DeleteClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientCRUDService">
    <wsdl:port name="BasicHttpBinding_IClientCRUDService" binding="tns:BasicHttpBinding_IClientCRUDService">
      <soap:address location="http://localhost:6501/WcfServices/ClientCRUDService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>